.basic * {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--os-text-color);
}

.basic {
    padding: .75rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.basic.no-padding {
    padding: 0;
}

.basic .background {
    background: var(--os-header-background);
}

.basic .card {
    background: var(--os-header-background);
    padding: .75rem;
    border-radius: calc(var(--os-window-border-radius) / 2);
}

.basic .card.contrast {
    background: var(--os-window-content-background);
}

.basic .flex-grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.basic button, select {
    border: none;
    background: var(--os-header-background);
    padding: 0.75rem;
    border-radius: 0.25rem;
    transition: background 0.3s;
    user-select: none;
    outline: none
}

.basic button:hover, .basic select:hover {
    cursor: pointer;
}

.basic button:active, .basic select:active {
    background: var(--os-window-border-color);
}

.basic .square {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.basic .full {
    width: 100%;
    height: 100%;
}

.basic .width-full {
    width: 100%;
}

.basic div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.basic .row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.basic .column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.basic .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.basic input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background: var(--os-header-background);
    color: var(--os-text-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    width: 100%;
}

.basic .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic .text-red {
    color: rgb(230, 37, 37);
}

.basic .text-blue {
    color: rgb(32, 112, 250);
}

/* Headings */
.basic h1 {
    font-size: 2rem;
    margin: 0;
}

.basic h2 {
    font-size: 1.5rem;
    margin: 0;
}

.basic h3 {
    font-size: 1.25rem;
    margin: 0;
}

.basic p {
    margin: 0;
}

.basic .gap-sm { gap: 0.5rem;}
.basic .gap-md { gap: 1rem;}
.basic .gap-lg { gap: 1.5rem;}
.basic .gap-xl { gap: 2rem;}

.basic ul {
    padding-left: 1.5rem;
    list-style: disc;
}