:root {
    --os-background: url('https://512pixels.net/downloads/macos-wallpapers-thumbs/10-4--thumb.png');
    --os-background-blur: 20px;
    --os-background-opacity: 0.8;

    --os-text-color: #000;
    --os-text-color-secondary: #555;

    --os-lock-screen-text-color: #f5f5f5e7;


    --os-taskbar-background: rgba(255, 255, 255, 0.25);
    --os-taskbar-border-radius: 1.25rem;

    --os-header-background: #f0f0f0;
    --os-window-border-color: #e3e3e3;
    --os-window-border-color-active: #76c1ff;
    --os-window-border-radius: 1rem;
    --os-window-content-background: #fff;
    --os-window-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    --os-btn-header-minimize: #f7dc13;
    --os-btn-header-maximize: #00e339;
    --os-btn-header-close: #e81123;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --os-text-color: #fff;
        --os-text-color-secondary: #aaa;

        --os-background: url('https://512pixels.net/downloads/macos-wallpapers-thumbs/10-14-Night-Thumb.jpg');


        --os-taskbar-background: rgba(30, 30, 30, 0.7);
        --os-taskbar-border-radius: 1.25rem;

        --os-header-background: #333;
        --os-window-border-color: #555;
        --os-window-border-color-active: #777;
        --os-window-border-radius: 1rem;
        --os-window-content-background: #222;
        --os-window-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

        --os-btn-header-minimize: #f7dc13;
        --os-btn-header-maximize: #00e339;
        --os-btn-header-close: #e81123;
    }
}